[phases.build]
cmds = [
    "composer install --ignore-platform-reqs",
    "npm i",
    "npm run build"
]

[start]
cmd = "php artisan storage:link --force 2>/dev/null; php artisan migrate --force 2>/dev/null; php artisan serve --host=0.0.0.0 --port=3000"
